
<form action="/upload" method="post" enctype="multipart/form-data"></form>

    <div class="form-group ">
      <label for="exampleFormControlInput1 ">Name of Product</label>
      <input  type="text " name="name" class="form-control " id="exampleFormControlInput1
	" placeholder="Product Name ">
    </div>

     <div class="form-group">
    <label for="exampleFormControlFile1">Upload a photo</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="rentalPhoto">
  </div> 


    <div class="form-group ">
      <label for="exampleFormControlInput1 ">Price</label>
      <input  type="text " name="price " class="form-control " id="exampleFormControlInput1
	" placeholder="Price ">
    </div>

    <div class="form-group ">
      <label for="exampleFormControlInput1 ">Quantity</label>
      <input  type="text " name="quantity " class="form-control " id="exampleFormControlInput1
	" placeholder="Quantity ">
    </div>

    <div class="form-group ">
      <label for="exampleFormControlSelect1 ">New Or Used?</label>
      <select  class=" form-control " name="new or used " id="exampleFormControlSelect1 ">
        <option>New</option>
        <option>Used</option>
      </select>
    </div>

    <div class="form-group ">
      <label for="exampleFormControlSelect2 ">Category</label>
      <select  name="category " multiple class="form-control " id="exampleFormControlSelect2 ">
        <option value="Electronics ">Electronics</option>
        <option value="Home Furnishing ">Home Furnishing</option>
        <option value="Appliances ">Appliances</option>
        <option value="Handmade ">Handmade</option>
      </select>
    </div>

    <div class="form-group ">
      <label for="exampleFormControlTextarea1 ">Description</label>
      <input  name="description " class="form-control " type="text " rows="3 ">
    </div>

    <button type="submit" >Submit</button>
  </form>











{{!-- llalalal --}}
 

